@import url("../../styles/base.module.css");

.stepLeft {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.stepLeft svg {
  position: absolute;
  z-index: 0;
}

.green_degrade {
  top: 0;
  left: 28%;
  transform: translate(0, -50px);
}

.stepLeftBackSquare {
  width: 57%;
  min-width: 357px;
  height: 75%;
  max-height: 452px;
  z-index: 2;
  transform: translate(7.9%, 3.22%);
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.videoCaptureArea {
  position: relative;
  min-width: 90%;
}

.videoCaptureArea:has(.finalImgContainer) {
  width: 100%;
}

.finalImgContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 24px;
}

.finalImgContainer img {
  width: auto;
  height: 100%;
}

.videoCaptureArea::before {
  content: '';
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: -10px;
  background-image: linear-gradient(90deg, rgba(206, 180, 239, 1), rgba(206, 180, 239, 0));
  border-radius: 24px;
}

.videoCaptureArea.notShowing x-dot-face-auto-capture {
  opacity: 0;
}

.videoCaptureArea x-dot-face-auto-capture {
  opacity: 1;
}

.videoCaptureArea x-dot-face-auto-capture div {
  width: 100%;
  max-width: 75vw;
  min-width: 100%;
  height: 100%;
  max-height: 452px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.videoCaptureArea::before,
.finalImgContainer,
.videoCaptureArea x-dot-face-auto-capture div,
.videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
  transform: translate(-32px, 29px);
}

.videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(2) {
  transform: translateX(-50%);
  top: 5px;
}

.videoCaptureArea x-dot-face-auto-capture div video {
  width: auto;
  min-width: 100%;
  min-height: 100%;
}

.videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
  width: 100%;
  height: 100%;
  margin: auto;
  left: 0;
  overflow: hidden;
}

.videoCaptureArea x-dot-face-auto-capture {
  overflow: hidden;
}

.videoCaptureArea x-dot-face-auto-capture div {
  overflow: hidden;
  height: 100%;
}

.videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
  display: grid;
  place-items: center;
  border-radius: 24px;
}

.videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) svg {
  max-width: 75%;
  height: fit-content;
  border-radius: 100%;
  box-shadow: 0 0 0px 200px rgba(0, 0, 0, .6);
}




.stepContent {
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  position: relative;
  padding-bottom: 64px;
}

.backColors {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  width: 80%;
  height: 484px;
  top: 0;
  left: 0;
}

.backColors div.grey {
  background-color: var(--color-lightwhite);
  width: 100%;
  height: 240px;
}

.backColors svg {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 377px;
  position: relative;
  background-color: white;
  border-radius: 24px;
  padding: 38px 22px 38px 34px;
}

.box::before {
  content: '';
  border-radius: 24px;
  width: 100px;
  height: 100%;
  background-color: #80DDB1;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -12px;
}

.box h2 {
  font-size: var(--title-smaller);
  margin: 0 auto 24px;
}

.box h2 span:nth-child(1) {
  font-weight: normal;
}

.box h2 span:nth-child(2) {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: normal;
}

.description {
  font-size: var(--text-medium);
  color: var(--text-grey);
  width: 100%;
  text-align: justify;
}

.box h3 {
  font-weight: 600;
  font-size: var(--text-medium);
  margin: 24px 0;
}

.tipsList {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

.tipsList li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}

.tipsList li svg {
  width: 21px;
  height: 21px;
}

.tipsList li span {
  font-size: var(--text-medium);
  color: var(--text-lightgrey);
  text-align: left;
  flex: 1;
}

.skewedFace {
  transform: rotate(-75.8deg);
}


@media (max-height:812px) {
  .backColors {
    max-height: 78%;
  }

  .stepContent {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-bottom: 53px;
  }
}

@media (max-height:722px) {
  .description {
    font-size: var(--text-medium);
  }

  .box {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .box h3 {
    margin: 22px 0;
  }

  .tipsList {
    gap: 14px;
  }
}

@media all and (max-height: 650px),
(max-width > 1140px) {

  .backColors {
    height: 85%;
    max-height: unset;
  }

  .stepContent {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .box {
    padding: 14px 20px 34px 30px;
  }

  .box h2 {
    margin-bottom: 12px;
  }

  .box h3 {
    margin: 18px 0;
  }

  .tipsList {
    gap: 10px;
  }
}



/* Mobile medias */

@media (max-width:840px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 21px;
    margin-top: 18px;
  }

  .footer a {
    font-size: var(--text-small-big);
  }
}

@media all and (max-width:840px) and (min-width:601px) {

  .main {
    flex: unset;
    width: 73%;
    max-width: 720px;
    border-radius: 16px;
    max-height: unset;
    height: fit-content;
    padding: 0 64px;
    margin: 0 10vw;
    gap: 120px;
  }

  .stepLeft {
    flex: unset;
    position: relative;
    overflow: visible;
    flex-direction: column;
    padding: 34px 14px;
  }

  .stepLeft h1 {
    font-size: var(--title-small);
    font-weight: normal;
  }

  .stepLeft h1 span:nth-child(2) {
    font-family: 'Libre Baskerville';
    font-style: italic;
    color: #000;
  }

  .stepLeft svg {
    position: absolute;
    z-index: 1;
  }

  .green_degrade {
    width: 485px;
    top: -10%;
    transform: translate(0%, 0%);
  }

  .stepLeftBackSquare {
    top: 20px;
    aspect-ratio: 1/1.30;
    position: relative;
    transform: translate(13%, 3.22%);

    height: 100%;
    max-height: 50vh;
  }

  .videoCaptureArea x-dot-face-auto-capture div {
    width: 100%;
    max-width: 75vw;
    height: 100%;
    max-height: unset;
  }

  .videoCaptureArea::before {
    bottom: -10px;
  }

  .videoCaptureArea::before,
  .finalImgContainer,
  .videoCaptureArea x-dot-face-auto-capture div,
  .videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
    transform: translate(-8vw, 48px);
  }

  .videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(2) div {
    font-size: var(--text-bigger);
  }

  .finalImgContainer img {
    width: auto;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    transform: translate(0%, 0%);
  }

  .cancelButton {
    font-size: var(--text-medium);
  }




  .stepContent {
    z-index: unset;
    box-shadow: none;
    padding: 22px 40px 60px;
    gap: 80px;
  }

  .stepContent:has(div.cancelBtnArea) {
    gap: 37px;
  }

  .backColors {
    max-height: 84%;
  }

  .box {
    max-width: unset;
    padding: 22px 24px 40px;
  }

  .box::before {
    right: -12px;
  }

  .box h2 {
    font-size: var(--title-small-medium);
    margin: 16px auto 24px;
  }

  .description {
    margin-bottom: 24px;
  }

  .description,
  .tipsList li span {
    font-size: var(--text-big);
  }

  .reminderMessage {
    margin-top: 26px;
    width: 100%;
    font-size: var(--text-small-big);
    text-align: left;
  }

  .tipsList {
    gap: 16px;
  }

  .tipsList li svg {
    width: 28px;
    height: 28px;
  }

  .buttonsArea button {
    font-size: var(--text-small-big);
  }
}

@media all and (max-width:600px),
(orientation:landscape) {

  .videoCaptureArea {
    width: 100%;
  }

  .videoCaptureArea::before,
  .finalImgContainer,
  .videoCaptureArea x-dot-face-auto-capture div,
  .videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
    transform: translate(-32px, 31px);
  }
}

@media (max-width:600px) {

  .stepLeft {
    flex: unset;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    padding: 34px 14px;
  }

  .stepLeft h1 {
    font-size: var(--text-big);
    font-weight: normal;
  }

  .stepLeft h1 span:nth-child(2) {
    font-family: 'Libre Baskerville';
    font-style: italic;
    color: #000;
  }

  .stepLeft svg {
    position: absolute;
    z-index: 1;
  }

  .green_degrade {
    width: 485px;
    top: -20%;
    right: 0;
    transform: translate(0%, 0%);
  }

  .stepLeftBackSquare {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1.26;
    border-radius: 16px;
    z-index: 1;
    padding: 0;
    position: relative;
    transform: translate(11%, 3.22%);
  }

  .videoCaptureArea:has(.finalImgContainer) {
    width: calc(100% - 56px);
    height: 100%;
  }

  .videoCaptureArea {
    width: unset;
    max-height: calc(100% - 31px);
  }  

  .videoCaptureArea x-dot-face-auto-capture {
    overflow: hidden;
  }
  
  .videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(2) {
    top: 20px;
    height: fit-content;
  }
  
  .videoCaptureArea x-dot-face-auto-capture div video {
    min-width: 120%;
    min-height: 140%;
  }

  .finalImgContainer {
    width: 100%;
    max-width: 78vw;
    height: 100%;
    justify-content: center;
    border-radius: 24px;
    position: relative;
  }

  .videoCaptureArea::before {
    bottom: -6px;
  }

  .videoCaptureArea::before,
  .finalImgContainer,
  .videoCaptureArea x-dot-face-auto-capture div,
  .videoCaptureArea x-dot-face-auto-capture-ui div:nth-child(1) {
    transform: translate(-13vw, 31px);
  }

  .finalImgContainer {
    display: grid;
    place-items: bottom;
  }

  .finalImgContainer img {
    /* width: auto; */
    /* height: 100%; */
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: absolute;
    transform: translate(0%, 0%);
  }

  .cancelButton {
    font-size: var(--text-medium);
  }




  .stepContent {
    z-index: unset;
    box-shadow: none;
    padding: 14px;
    margin: 0;
    gap: 80px;
  }

  .stepContent:has(div.cancelBtnArea) {
    gap: 37px;
  }

  .backColors {
    max-height: 78%;
  }

  .box {
    padding: 22px 24px 40px;
  }

  .box::before {
    right: -4px;
  }

  .box h2 {
    font-size: var(--text-bigger);
  }

  .description,
  .reminderMessage {
    margin: 16px 0;
    color: #000;
    width: 100%;
    font-size: var(--text-medium);
  }

  .description {
    margin: 0 0 24px;
  }

}

@media (max-width:400px) {

  .description,
  .tipsList li span,
  .reminderMessage {
    font-size: var(--text-small);
    text-align: left;
    max-width: 100%;
  }
}

@media (max-width:330px) {
  .stepContent {
    z-index: unset;
    box-shadow: none;
    padding: 14px;
    margin: 0;
    gap: 40px;
  }

  .backColors {
    max-height: 80%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 377px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    padding: 24px 14px 14px 14px;
  }

  .box h2 {
    font-size: var(--text-big);
  }

  .description {
    padding: 0;
  }
}