@import url("../../styles/base.module.css");

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 36px;
  border: 1px solid #D3D3D3;
  border-radius: 16px;
  margin: 0 14px;
  gap: 16px;
}

.icon {
  background-color: var(--dark-black);
  box-shadow: 0 2px 12px 0 rgba(30, 43, 45, .49);
  padding: 10px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
}

.errorInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  color: #FB4E31;
}

.errorInfo h1 {
  font-family: 'Baskervville';
  font-style: italic;
  font-size: var(--text-big);
}

.errorDescription {
  font-family: 'Inter';
  font-weight: medium;
  font-size: var(--text-medium);
}

.errorInstructions {
  font-family: 'Inter';
  font-size: var(--text-small);
  color: var(--text-light);
}

.errorInstructions {
  max-width: 240px;
}

.refreshBtn {
  border: none;
  outline: none;
  background: var(--dark-black);
  border-radius: 80px;
  font-size: var(--text-medium);
  padding: .5rem;
  width: 100%;
  color: white;
  font-weight: 600;
  margin-top: 16px;
  cursor: pointer;
  width: 200px;
}