@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital@0;1&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("./base.module.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cropper-wrap-box,
.cropper-crop-box {
  display: none;
}

.loadingContainer {
  min-height: 80vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.app {
  font-family: "Manrope", "Lato", "Montserrat", sans-serif;
  color: var(--color-grey);
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  animation: op .6s forwards;
}

@keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  margin-top: 1rem;
  width: 40rem;
  position: relative;
  overflow: hidden;
}

.container img {
  margin-top: 1rem;
  max-width: 100%;
}



.header {
  height: 100px;
  display: grid;
  place-items: center;
  background-color: var(--color-lightwhite);
  width: 100%;
  margin-bottom: 30px;
}



.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 1075px;
  overflow: hidden;
  border: 1px solid #D3D3D3;
  border-radius: 16px;
  max-height: 603px;
}

.stepLeft {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.stepLeft svg {
  position: absolute;
  z-index: 3;
}

.green_degrade {
  top: 50%;
  left: -34%;
  transform: translate(0, -50%);
}

.purple_degrade {
  bottom: 4%;
  right: -15%;
}

.stepLeftBackSquare {
  top: 23px;
  right: 20px;
  bottom: 100px;
  left: 30px;
  padding-top: 35px;
  background-color: var(--color-lightwhite);
  border-radius: 30px;
  z-index: 1;
  position: absolute;
}

.stepLeftBackSquare h1 {
  font-size: var(--title-smaller);
}

.stepLeftBackSquare h1 span:nth-child(1) {
  font-weight: normal;
}

.stepLeftBackSquare h1 span:nth-child(2) {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: normal;
  color: var(--color-orange);
}

.stepLeft img {
  border-radius: 55.58px;
  width: 378px;
  z-index: 2;
  transform: translateX(40px) translateY(50px);
}



.stepContent {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  gap: 178px;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 64px;
  box-shadow: var(--right-section-shadow);
  z-index: 5;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.description {
  color: var(--text-grey);
  font-size: var(--text-medium);
  text-align: left;
  max-width: 374px;
}

.subDescription {
  color: var(--text-lightgrey);
  font-size: var(--text-medium);
  padding: 0 8px;
  text-align: left;
  max-width: 345px;
}

.buttonsArea {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  font-size: var(--text-medium);
}

.buttonsArea button {
  cursor: pointer;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 21px;
  margin-top: 30px;
}

.footer a {
  text-decoration: none;
  color: var(--text-light);
  font-family: 'Manrope';
  font-size: var(--text-small-big);
  cursor: pointer;
}

.footer a:nth-child(1) {
  font-weight: 600;
}

.footer a:nth-child(2) {
  font-weight: 500;
}


/* Height medias */

@media all and (max-height: 812px),
(max-width > 1140px) {
  .header {
    height: 80px;
  }
}

@media all and (max-height: 650px),
(max-width > 1140px) {

  .stepLeftBackSquare {
    top: 23px;
    right: 20px;
    bottom: 60px;
    left: 30px;
    padding-top: 35px;
    background-color: var(--color-lightwhite);
    border-radius: 30px;
    z-index: 1;
    position: absolute;
  }

  .stepLeft img {
    border-radius: 55.58px;
    width: 100%;
    max-width: 51%;
    z-index: 2;
    transform: translateX(40px) translateY(40px);
  }

  .green_degrade {
    top: 50%;
    width: 64%;
    height: auto;
    max-height: 20vh;
    left: 10%;
    transform: translate(-40%, -40%);
  }

  .purple_degrade {
    height: 78px;
    left: 13vw;
  }

  .stepContent {
    gap: 100px;
  }

  .footer {
    padding-bottom: 10px;
  }
}




/* Mobile medias */

@media all and (max-width:840px) {

  .main {
    flex: 1;
    flex-direction: column;
    width: calc(100% - 54px);
    border-radius: 16px;
    max-height: unset;
    margin: 0 auto;
    padding: 0;
    gap: 40px;
  }

  .stepContent {
    z-index: unset;
    box-shadow: none;
    padding: 0 0 40px;
    gap: 32px;
  }


  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 21px;
    margin-top: 18px;
  }

  .footer a {
    font-size: var(--text-small-big);
  }
}

@media all and (max-width:840px) and (min-width:601px) {

  .main {
    gap: 60px;
  }

  .stepLeft {
    flex: unset;
    position: relative;
    overflow: visible;
    padding: 14px;
  }

  .green_degrade {
    top: 50%;
    width: 80%;
    height: auto;
    max-height: 20vh;
    left: 8%;
    transform: translate(-47%, -32%);
  }

  .purple_degrade {
    width: 64%;
    height: auto;
    max-height: 20vh;
    left: 35vw;
    top: unset;
    bottom: -8%;
  }

  .stepLeftBackSquare h1 {
    font-size: var(--title-small-medium);
  }

  .stepLeftBackSquare {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1.45/1;
    border-radius: 16px;
    z-index: 1;
    padding-top: 18px;
    position: relative;
  }

  .stepLeft img {
    border-radius: 30px;
    width: 50vw;
    max-width: 80%;
    top: 28px;
    transform: translateX(14%) translateY(23%);
    position: absolute;
  }




  .description,
  .subDescription {
    font-size: var(--text-small-big);
    text-align: left;
    margin: 0 auto;
  }

  .description {
    max-width: 400px;
  }

  .subDescription {
    padding: 0;
    max-width: 380px;
  }
}



@media (max-width:600px) {

  .header {
    height: 64px;
  }

  .header svg {
    width: 158px;
  }



  .stepLeft {
    flex: unset;
    position: relative;
    overflow: visible;
    padding: 14px;
  }

  .stepLeft svg {
    position: absolute;
    z-index: 3;
  }

  .green_degrade {
    top: 50%;
    width: 84%;
    height: auto;
    max-height: 20vh;
    left: 6%;
    transform: translate(-47%, -24%);
  }

  .purple_degrade {
    width: 64%;
    height: auto;
    max-height: 20vh;
    left: 32vw;
    top: unset;
    bottom: -4%;
  }

  .stepLeftBackSquare {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1.24/1;
    border-radius: 16px;
    z-index: 1;
    padding-top: 18px;
    position: relative;
  }

  .stepLeftBackSquare h1 {
    font-size: var(--text-big);
  }

  .stepLeftBackSquare h1 span:nth-child(2) {
    color: #000;
  }

  .stepLeft img {
    border-radius: 30px;
    width: 50vw;
    max-width: 80%;
    top: 28px;
    transform: translateX(14%) translateY(23%);
    position: absolute;
  }




  .stepContent {
    z-index: unset;
    box-shadow: none;
    padding: 0 0 40px;
    margin: 0;
  }

  .texts {
    margin: 0;
  }

  .description,
  .subDescription {
    font-size: var(--text-small);
    text-align: center;
    max-width: 100%;
  }

  .description {
    padding: 0 27px;
  }

  .subDescription {
    padding: 0 40px;
  }

  .buttonsArea {
    gap: 16px;
    font-size: var(--text-medium);
    flex-direction: column-reverse;
  }

}

@media (max-width:400px) {
  .stepContent {
    padding-bottom: 20px;
  }
}

@media (max-width:330px) {
  .purple_degrade {
    bottom: -10%;
  }

  .description {
    padding: 0 14px;
  }

  .subDescription {
    padding: 0 32px;
  }
}