.stepLeft {
  flex: 5;
  display: grid;
  place-items: center;
  position: relative;
}

.green_degrade,
.purple_degrade,
.sec_purple_degrade {
  position: absolute;
  z-index: 0;
}

.green_degrade {
  top: 16px;
  margin: 0 auto;
}

.purple_degrade {
  bottom: -12%;
  margin: 0 auto;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.faceZone {
  padding: 23px;
  height: fit-content;
  border-radius: 12px;
  background-color: #274743;
  color: white;
  display: grid;
  place-items: center;
}

.faceZone svg {
  width: 57px;
  height: 57px;
  position: relative;
}

.stepLeft h1 {
  font-size: 34px;
  text-align: center;
  margin: 51px auto 21px;
  font-weight: normal;
}

.stepLeft h1 span:nth-child(2) {
  font-family: "Libre Baskerville";
  font-style: italic;
  color: #FA9233;
}

.confirmationMessage {
  font-size: 20px;
  color: #3C484D;
  max-width: 348px;
}



.stepContent {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  flex-direction: column;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .15);
  z-index: 5;
  overflow: hidden;
  position: relative;
}


.stepContent::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 38%;
  width: 325px;
  height: 154px;
  background-image: linear-gradient(90deg, rgba(206, 180, 239, 1), rgba(206, 180, 239, 0));
  transform: translate(-28%, -35%);
  z-index: 0;
}

.box {
  background-color: #F2F2F2;
  border-radius: 18px;
  padding: 90px 28px 60px;
  width: 370px;
  z-index: 6;
}

.instructions {
  width: 100%;
  text-align: justify;
  font-size: 14px;
  color: #3C484D;
}


@media (max-height:722px) {
  .purple_degrade {
    bottom: -20%;
  }
}


/* Mobile medias */

/* iPhone 14 Pro -> width:400px */
@media (max-width:420px) {

  .main {
    flex: 1;
    flex-direction: column;
    width: calc(100% - 54px);
    border-radius: 16px;
    max-height: unset;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
  }


  .stepLeft {
    overflow: visible;
    padding: 27px 14px;
  }

  .faceZone {
    padding: 9px;
    border-radius: 12px;
  }

  .faceZone svg {
    width: 40px;
    height: 40px;
  }

  .stepLeft h1 {
    font-size: 24px;
    margin: 19px auto;
  }

  .confirmationMessage {
    font-size: 14px;
    max-width: 100%;
    margin: 0 30px;
  }

  .stepLeft svg {
    position: absolute;
    z-index: 1;
  }

  .faceZone svg {
    position: relative;
  }

  .green_degrade {
    width: 67vw;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .purple_degrade {
    width: 74vw;
    left: 50%;
    bottom: -80%;
    transform: translate(-45%, -40%);
  }


  .stepContent {
    flex: unset;
    gap: 3vh;
    box-shadow: none;
    z-index: unset;
    overflow: visible;
    padding: 14px;
  }

  .stepContent::after {
    display: none;
  }

  .box {
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 24px 24px 35px;
    width: 100%;
    z-index: 6;
  }

  .instructions {
    width: 100%;
    text-align: justify;
    font-size: 14px;
    color: #3C484D;
  }

}