@import url("../../styles/base.module.css");

.stepLeft {
  flex: 5;
  display: grid;
  place-items: center;
  position: relative;
}

.green_degrade,
.purple_degrade,
.sec_purple_degrade {
  position: absolute;
  z-index: 0;
}

.green_degrade {
  top: 16px;
  margin: 0 auto;
}

.purple_degrade {
  bottom: -12%;
  margin: 0 auto;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.faceZone {
  padding: 23px;
  height: fit-content;
  border-radius: 12px;
  background-color: #274743;
  color: white;
  display: grid;
  place-items: center;
}

.faceZone svg {
  width: 57px;
  height: 57px;
  position: relative;
}

.stepLeft h1 {
  font-size: var(--title-medium);
  text-align: center;
  margin: 51px auto 21px;
  font-weight: normal;
}

.stepLeft h1 span:nth-child(2) {
  font-family: "Libre Baskerville";
  font-style: italic;
  color: var(--color-orange);
}

.confirmationMessage {
  font-size: var(--text-bigger);
  color: var(--text-grey);
  max-width: 348px;
}



.stepContent {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  flex-direction: column;
  box-shadow: var(--right-section-shadow);
  z-index: 5;
  overflow: hidden;
  position: relative;
}


.stepContent::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 38%;
  width: 325px;
  height: 154px;
  background-image: var(--gradient-purple);
  transform: translate(-28%, -35%);
  z-index: 0;
}

.box {
  background-color: var(--color-lightwhite);
  border-radius: 18px;
  padding: 90px 28px 60px;
  width: 370px;
  z-index: 6;
}

.instructions {
  width: 100%;
  text-align: justify;
  font-size: var(--text-medium);
  color: var(--text-grey);
}


@media (max-height:722px) {
  .purple_degrade {
    bottom: -20%;
  }
}


/* Mobile medias */

@media (max-width:840px) {


  .stepContent {
    flex: unset;
    gap: 3vh;
    box-shadow: none;
    overflow: visible;
    padding: 14px;
  }
}

@media all and (max-width:840px) and (min-width:601px) {

  .main {
    flex: unset;
    padding: 0;
    gap: 0;
  }

  .stepLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 47px 60px;
  }

  .leftContent {
    gap: 37px;
  }

  .leftContent h1 {
    font-size: var(--title-medium);
    text-align: center;
    margin: 0;
    font-weight: normal;
  }

  .faceZone {
    padding: 2vw;
  }

  .faceZone svg {
    width: 10vw;
    height: 10vw;
    position: relative;
  }

  .green_degrade {
    top: 0;
    margin: 0 auto;
    transform: translateY(-25%);
  }

  .purple_degrade {
    bottom: -26%;
    margin: 0 auto;
  }



  .stepContent {
    gap: 3vh;
    z-index: 5;
    padding: 10px 28px 14px;
  }

  .stepContent::after {
    display: none;
  }

  .box {
    background-color: var(--color-lightwhite);
    border-radius: 18px;
    padding: 40px 25px;
    min-width: 370px;
    width: 100%;
    max-width: 580px;
    z-index: 6;
  }

  .instructions {
    width: 100%;
    text-align: justify;
    font-size: var(--text-big);
    color: var(--text-grey);
  }
}

/* 430px */
@media (max-width:600px) {

  .main {
    flex: 1;
    flex-direction: column;
    width: calc(100% - 54px);
    border-radius: 16px;
    max-height: unset;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
  }


  .stepLeft {
    overflow: visible;
    padding: 27px 14px;
  }

  .faceZone {
    padding: 9px;
    border-radius: 12px;
  }

  .faceZone svg {
    width: 40px;
    height: 40px;
  }

  .stepLeft h1 {
    font-size: var(--title-smaller);
    margin: 19px auto;
  }

  .confirmationMessage {
    font-size: var(--text-medium);
    max-width: 100%;
    margin: 0 30px;
  }

  .stepLeft svg {
    position: absolute;
    z-index: 1;
  }

  .faceZone svg {
    position: relative;
  }

  .green_degrade {
    width: 67vw;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .purple_degrade {
    width: 74vw;
    left: 50%;
    bottom: -80%;
    transform: translate(-45%, -40%);
  }


  .stepContent {
    flex: unset;
    gap: 3vh;
    box-shadow: none;
    z-index: unset;
    overflow: visible;
    padding: 14px;
  }

  .stepContent::after {
    display: none;
  }

  .box {
    background-color: var(--color-lightwhite);
    border-radius: 16px;
    padding: 24px 24px 35px;
    width: 100%;
    z-index: 6;
  }

  .instructions {
    width: 100%;
    text-align: justify;
    font-size: var(--text-medium);
    color: var(--text-grey);
  }

}