.faceZone {
  width: 138px;
  height: 138px;
  aspect-ratio: 1/1;
  border-radius: 33px;
  top: 50%;
  left: 57px;
  transform: translateY(10px);
  color: #274743;
  background-color: white;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 6;
}

.faceZoneIcon {
  width: 85px;
  height: 85px;
  position: relative;
}



@media (max-width:1140px) {
  .faceZone {
    width: 22.5%;
    border-radius: 24%;
    height: auto;
    aspect-ratio: 1/1;
    left: 11%;
    top: 50%;
    transform: translateY(40%);
  }

  .faceZoneIcon {
    width: 64%;
    height: auto;
    aspect-ratio: 1/1;
  }
}

@media all and (max-width:840px) and (min-width:601px) {
  .faceZone {
    width: 20%;
    top: 50%;
    left: 15%;
    transform: translateY(30%);
  }
}

/* 430px */
/* @media (max-width:600px) {
  .faceZone {
    width: 74px;
    height: 74px;
    border-radius: 18px;
    top: 60%;
    left: 57px;
    transform: translateY(10px);
  }

  .faceZoneIcon {
    width: 45px;
    height: 45px;
  }
} */